@using BlogPlatform.App.Components.Articles.LearnKitRendering.Serialization
@using BlogPlatform.App.Components.Articles.Shared
@using BlogPlatform.App.Models.LearnKit

@if (Block is not null)
{
    var model = LearnKitBlockDeserializer.ToSummaryBlock(Block);

    <div class="article-summary article-summary-block">
        @MarkdownRenderer.Render(model.Summary)
    </div>
}

@code {
    [Parameter]
    public required LearnKitArticleBlockDetails Block { get; set; }
}
